.q-icon-picker
  background-color $grey-1
  flex none
  display flex
  overflow hidden

  &__body
    overflow hidden
    flex 1 1 auto
    position relative

  &__scroll-area
    overflow hidden
    flex 1 1 auto
    // display flex
    // align-items flex-start

  &__container
    flex 1
    min-width 100%
    min-height 100%
